html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix:after {
    content: " "; /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

#footer {
    background-color: #626262;
    font-weight: bold;
    text-align: center;
    color: #FFF;
    margin-top: 5em;
    margin-bottom: 2em;
}

#footer a {
    text-decoration: none;
    color: #FFF;
}

.align-left {
    text-align: left;
}

table {
    width: 100%;
}

    table > caption {
        caption-side: bottom;
    }

    table > thead > tr > td, th {
        background: #568ed3;
        font-weight: bold;
        color: #fff;
    }

    table > tbody > tr:nth-child(even) {
        background: #dbeef3;
    }

    table > thead > tr > th {
        padding: 1em;
        text-align: center;
    }

    table > tbody > tr > td {
        padding: 1em;
    }

.orange {
    color: #f5964f;
}

.blue {
    color: #8066a0;
}

.green {
    color: #9cba67;
}

.red {
    color: #d99699;
}

/* Header Styling */
header {
    text-align: center;
    white-space: nowrap;
    margin-bottom: 2em;
}

header > nav > div {
    display: inline-block;
    font: 1em/1 Helvetica Neue, sans-serif, Droid Sans Fallback;
    text-align: center;
    padding: 0.5em;
}

    header > nav > div > div:first-child {
        padding-bottom: 0.5em;
    }

header > nav small {
    font-style: italic;
}

header > nav a {
    font-weight: bold;
    text-decoration: underline;
}

header > nav .technical-item {
    box-shadow: 0 0 0px #165FCC;
    background: #e2f1f6;
}

header > nav .community-item {
    box-shadow: 0 0 0px #FF3E3A;
    background: #eff3e5;
}

header > nav .misc-item {
    box-shadow: 0 0 0px #54B29A;
    background: #ebe7f0;
}

header > nav .feedback-item {
    box-shadow: 0 0 0px #FFA32D;
    background: #f5e3e2;
}
