.clearfix:after {
    content: " "; /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

table {
    width: 100%;
}

    table > thead > tr > td, th {
        background: #00b7c1;
        font-weight: bold;
        color: #fff;
    }

tr:nth-child(even) {
    background: #CBE5E5;
}

td {
    padding: 8px;
}

#releases > tbody > tr > td:nth-child(2) {
    font-style: italic;
}


header > nav > div {
    display: inline-block;
    font: 1em/1 Helvetica Neue, sans-serif, Droid Sans Fallback;
    text-align: center;
}

    header > nav > div > div {
        display: inline-block;
    }

        header > nav > div > div > div {
            padding: 0.5em;
            margin-left: 0.5em;
            margin-top: 0.5em;
        }

        header > nav > div > div > div > div:first-child {
            padding-bottom: 0.5em;
        }

header > nav small {
    font-style: italic;
}

header > nav a {
    font-weight: bold;
    text-decoration: underline;
}

header > nav .technical-item {
    box-shadow: 0 0 0px #165FCC;
    background: #e2f1f6;
}

header > nav .community-item {
    box-shadow: 0 0 0px #FF3E3A;
    background: #eff3e5;
}

header > nav .misc-item {
    box-shadow: 0 0 0px #54B29A;
    background: #ebe7f0;
}

header > nav .feedback-item {
    box-shadow: 0 0 0px #FFA32D;
    background: #f5e3e2;
}


/*header > nav > div > a > * > * {
    display: block;
    padding: 0.1em 1em 0.1em;
    background: rgba(255,255,255,0.9);
    color: black;
    font: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
}

    header > nav > div > a > * > *:first-child {
        padding-top: 0.5em;
    }

    header > nav > div > a > * > *:last-child {
        padding-bottom: 1em;
    }*/

strong {
    color: blue;
    text-decoration: underline;
    padding-bottom: 0.5em;
}

header > nav > div > a > * > code {
    font-size: 0.8em;
}

.release-note {
    color: #a52a2a;
}
