#releases-table > tbody > tr > td:nth-child(2) {
    font-style: italic;
}

#releases-table > tbody > tr > td {
    
    vertical-align: top;
}

#releases-table > tbody > tr > td > div { 
    position:relative;
    text-align: center; 
}

#releases-table > tbody > tr > td > div > div.release-note-phase {
    position:absolute; top:0; right:0;
    text-align: right; 
}

.release-note {
    color: #a52a2a;
}

.release-note-phase {
    color: #a52a2a;
    /*font-size: 0.6em;*/
}